@import url('//fonts.googleapis.com/css?family=Open Sans:400,600');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #666;
}

body {
    background-color: #F3F3F3;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 0.875em;
    font-weight: 400;
}

a {
    color: #09F;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

li {
    margin-bottom: 5px;
    list-style-type: none;
}

li:last-child {
    margin-bottom: 0;
}

form[name='login'] input, form[name='register'] input {
    display: block;
    margin-bottom: 10px;
    background-color: #F3F3F3;
}

form[name='login'] input:last-child, form[name='register'] input:last-child {
    margin-bottom: 0;
}

input {
    width: 100%;
    padding: 5px;
    color: #666;
    border: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form[name='login'] input, form[name='register'] input {
    padding: 10px 10px;
}

form[name='login'] input[type='submit'], form[name='register'] input[type='submit'] {
    padding: 15px 10px;
    background-color: #3BF;
    color: #FFF;
    text-transform: uppercase;
}

.black,
#faq li:nth-child(odd) {
    color: #000;
}

.box {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF;
}

.box:last-child {
    margin-bottom: 0;
}

.title {
    margin-bottom: 15px;
    color: #06F;
    font-weight: 600;
}

.hidden {
    display: none;
}

.sidebar-box {
    color: #FFF;
}

.sidebar-box li {
    margin: 0 10px 5px 0;
}

.sidebar-box li:last-child {
    margin-bottom: 0;
}

.sidebar-box input {
    width: 100%;
    background-color: #FFF;
}

.code {
    padding: 2px;
    background-color: #777;
}

.tc {
    margin-bottom: 15px;
}

.tc:last-child {
    margin-bottom: 0;
}

.tc li {
    margin: 0 0 5px 30px;
    list-style-type: square;
}

.tc li:last-child {
    margin-bottom: 0;
}

.user-image-box {
    display: inline-block;
    margin: 0 5px 15px;
}

.user-image {
    border: #F3F3F3 solid 5px;
}

.image-actions {
    text-align: left;
}

.delete, #report a {
    color: #F33;
}

#header {
    padding: 0 20px;
    background-color: #222;
    color: #FFF;
    text-transform: uppercase;
}

#navbar {
    float: right;
}

#navbar li {
    display: inline-block;
    border-left: #444 solid 1px;
}

#navbar li:last-child {
    border-right: #444 solid 1px;
}

#navbar li a {
    display: inline-block;
    padding: 20px 20px;
    color: #FFF;
}

#navbar li a:hover {
    background-color: #111;
    color: #FFF;
}

#logo {
    padding: 20px 0;
}

#main {
    margin: 10px 10px 0;
}

#select-image {
    padding: 30px 10px;
    background-color: #3BF;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#select-image:hover {
    background-color: #2AF;
}

#cancel-image {
    margin-bottom: 10px;
    color: #F33;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
}

#cancel-image span {
    cursor: pointer;
}

#download-url {
    width: 250px;
    float: right;
    padding: 0;
}

#download-url input {
    padding: 15px 10px;
    background-color: #9A6;
    color: #FFF;
    text-transform: uppercase;
}

#download-url input:hover {
    background-color: #796;
    cursor: pointer;
}

#select-url {
    margin-right: 250px;
    padding: 0;
    cursor: text;
}

#select-url-input {
    padding: 15px 10px;
}

#allowed-ext {
    text-transform: uppercase;
}

#sidebar {
    float: right;
    width: 270px;
}

#links {
    background-color: #3BF;
}

#info {
    margin-bottom: 10px;
    background-color: #111;
}

#report {
    text-align: center;
}

#report a {
    font-size: 0.75em;
    font-weight: bold;
}

#image {
    margin: 0 280px 20px 0;
    text-align: center;
}

#image img {
    max-width: 100%;
}

#user-images {
    text-align: center;
}

#faq li:nth-child(even) {
    margin-bottom: 10px;
}

#faq li:last-child {
    margin-bottom: 0;
}

#footer {
    clear: both;
    margin: 10px 20px 0;
    color: #DDD;
    text-align: center;
}

#footer a {
    margin: 0 10px;
    color: #999;
}

#ban {
    color: #F33;
}

#pagination {
    margin-bottom: 10px;
    text-align: center;
    word-spacing: 10px;
}
